<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="one, two, three">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Plan</title>

    <!-- external CSS link 
    <link rel="stylesheet" href="css/normalize.css"> -->
    <link rel="stylesheet" href="/style.css"> 
</head>
<body>
    <h1>Month</h1>
    
    <div class="input-group">
        <div class="top-row">
            <h3>Income</h3>
            <input type="text" class="inline-input">
        </div>
        <input type="text" class="under-input">
    </div>
    
    <div class="input-group">
        <div class="top-row">
            <h3>Giving</h3>
            <input type="text" class="inline-input">
        </div>
        <input type="text" class="under-input">
    </div>
    
    <div class="input-group">
        <div class="top-row">
            <h3>Savings</h3>
            <input type="text" class="inline-input">
        </div>
        <input type="text" class="under-input">
    </div>

    <div class="input-group">
        <div class="top-row">
            <h3>Housing</h3>
            <input type="text" class="inline-input">
        </div>
        <input type="text" class="under-input">
    </div>

    <div class="input-group">
        <div class="top-row">
            <h3>Transportation</h3>
            <input type="text" class="inline-input">
        </div>
        <input type="text" class="under-input">
    </div>

    <div class="input-group">
        <div class="top-row">
            <h3>Food</h3>
            <input type="text" class="inline-input">
        </div>
        <input type="text" class="under-input">
    </div>

    <div class="input-group">
        <div class="top-row">
            <h3>Lifestyle</h3>
            <input type="text" class="inline-input">
        </div>
        <input type="text" class="under-input">
    </div>

    <div class="input-group">
        <div class="top-row">
            <h3>Insurance and Bills</h3>
            <input type="text" class="inline-input">
        </div>
        <input type="text" class="under-input">
    </div>

    <div class="input-group">
        <div class="top-row">
            <h3>Debt</h3>
            <input type="text" class="inline-input">
        </div>
        <input type="text" class="under-input">
    </div>

    <div class="input-group">
        <div class="top-row">
            <h3>Extra</h3>
            <input type="text" class="inline-input">
        </div>
        <input type="text" class="under-input">
    </div>
    <script type="text/javascript" src="/main.js"></script>    
</body>
</html>